.contaner {
    display: grid;
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 10px;
    grid-template-areas:
    "one one"
        "nav nav"
    ;

}

.box {
  
    color: black;
    text-align: center;
}

.head {
    grid-area: head;
}

.nav {
    grid-area: nav;
}




.contant {
    grid-area: contant;
}

.foter {
    grid-area: foter;
}

/* =================================================== */

/* gride inside gride */
/* the father alweyes will be have display-grid */
/* display: grid;
 grid-auto-rows: minmax(200px, auto);
 grid-gap: 10px; */

.contant {
    grid-gap: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.one{
    grid-area: one;
    display: grid;
        grid-template-columns: repeat(1, 1fr);
position: relative;
    display: inline-block;
    z-index: 3999;
    background-color: #265073;
}
.one img{
    width: 1100px;
  
   
  background-attachment: fixed;
     
        z-index: -1000;
        padding-left: 50px;
}}


p{
    z-index: 5;
    position: absolute;
        top: 10px;
        left: 80px;
        color: #fff;
        font-size: 30px;
        font-family: Arial, sans-serif;
      
        padding: 10px;
}
h1{
z-index: 5;
    position: absolute;
    top: 100px;
    left: 80px;
    color: #fff;
    font-style: italic;
    font-size: 60px;
    padding: 10px;
}

.adres{
z-index: 5;
position: absolute;
    top: 10px;
    left: 80px;
    color: #FFF6E9;
    font-style: italic;
    font-size: 60px;


    padding: 10px;
}

li{
    list-style: none;
}


.two a{
    color: #fff;
    
   
}


@media screen and (max-width:600px) {

    .Enim img{
display: none;
    }
         .contant {
             display: inline-block;
        
    
         }
     img {
        width: 200px;
        height: 200px;
        padding: 0;


    }
 nav {
    z-index: 5000;
        position: fixed;
        left: 0px;
 }
 .contaner{
    display:block ;
 }
 .cards{
display: grid;

 }

}

.contaner .img2{
    width: 700px;
    height: 500px;
   z-index: 30000;
   margin-top:  36px;
margin-left: 10px;
}
.about{
    background-color: antiquewhite;
    margin-top: 36px;
}
h5{
font-size: 3rem;
    color: #265073;
}
h6{
font-size: 2rem;
    color: #265073;
}
.btn {
    background-color: orange;
    
    border: none;
    
    color: white;
  
    padding: 12px 24px;
   
    text-align: center;
    text-decoration: none;
    
    display: inline-block;

    font-size: 18px;
   
    cursor: pointer;
   
    border-radius: 6px;
 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    transition: background-color 0.3s ease;
 
}

.btn:hover {
    background-color: #ff8c00;
}

.cards{
    width: 100%;
    background-color: #EEEEEE;
 display: flex;

 height: 200px;
 margin-top:70px;
 justify-content: space-around;
}
#cards {
    opacity: 0;
    transition: opacity 0.5s ease;
}
#i2{
    opacity: 0;
    transition: opacity 0.5s ease;

}
#img{
    opacity: 0;
    transition: opacity 0.5s ease;

}
.card1,.card2,.card3{
   background-color: #FFF6E9;
   text-align: center;
width: 200px;
margin-top: 30px;
height: 150px;

}
i{
    font-size: 40px;
  
}
.cards span{
    font-size: 20px;
}

.about li i{
    font-size: 20px;
    color: aquamarine;
}

.Enim{
    display: flex;
    justify-content: space-around;
    background-color: #FEFBF6;
    color: #333;
}
.Enim img{
    width: 500px;
    height: 600px;
   
}
.Enim .contant span{
    font-size: 20px;
margin-left: 30px;
}
.Enim .contant p{
    margin-left: 30px;
}
.contant{
    display: grid;
        grid-auto-rows: minmax(200px, auto);
        grid-gap: 10px;
}
.icon i{
padding: 10px;
font-size: 30px;
color: #FFD43B;

}
.icon i:hover{
    background-color: #ff8c00;
    color: #fff;
}
.Enim .contant span:hover{
color: #ff8c00;
}
.icon{
background-color: #fff;
box-shadow:3px 2px 3px 2px #EEEEEE;
width: fit-content;
position: relative;
right: 80px;
bottom: 80px;
margin-left:  30px;

}

.cards {
    display: wrap;
    flex-wrap: wrap;
}

/* .card1,.card2,.card3 {
    width: 25%;
    height: 100px;
    background-color: #ccc;
} */

@media (max-width: 768px) {
    .cards{
        display: flex;
     
    }
.icon {
    background-color: #fff;
    box-shadow: 3px 2px 3px 2px #EEEEEE;
    width: fit-content;
position: relative;
  left: 30px;
 

}
.Enim .contant span,p{
position: relative;
bottom: 60px;
}
    .contant{
        display: flex;
       position: relative; 
       top: 600px;
    }
    .images{
      display: grid;
    }
}

@media (max-width: 480px) {
    .card1,.card2,.card3 {
        display: block;
    }
    .contant{
            display: grid;
                grid-auto-rows: minmax(200px, auto);
                grid-gap: 10px;
    top: 600px;
    }
        .icon {
            background-color: #fff;
            box-shadow: 3px 2px 3px 2px #EEEEEE;
            width: fit-content;
            position: relative;
            left: 30px;
    
    
        }
    
        .Enim .contant span,
        p {
            position: relative;
            bottom: 60px;
        }
    
        .contant {
            display: flex;
            position: relative;
            top: 600px;
        }
    .images .myimg img{
width: 100px;
height: 100px;
    }
        
    .non{
        display: none;
    }
    .pragh{
        display: none;
    }
   .images .myimg i{
font-size: 20px;
   }
   .images .myimg span{
    font-size:10px;
   }
   .images .myimg p{
    font-size:10px;

   }

        .pragh {
             display: block;
            }
}
@media screen and (max-width: 600px) {
    .images{
        flex-direction: column;
        
    }


    .our{
    display: none;
        bottom:  100px;
       }
       .myimg{
        position: relative;
            top: 80px;
       }
}
.team{
    display: grid;
        grid-auto-rows: minmax(200px, auto);
        grid-gap: 10px;
        background-color: #fff;
}
.myimg{
    
    width: 400px;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    height: 400px;
}
.images{
    display: flex;
    justify-content: space-around;
}
.myimg img{
    width: 70%;
    height: 70%;
    border-radius: 50%;

}
.our{
    width: 100%;
    text-align: center;
   
}
.myimg img{
    margin-bottom: 20px;
}
.myimg p{
    font-style: italic;
    color: #444;
    margin-top: 20px;
}
.myimg p i{
   font-size: 25px;
   margin: 10px;
}
.myimg  .fa-linkedin:hover{
   color: blue;
}
.myimg  .fa-facebook:hover{
   color: blue;
}
.myimg  .fa-instagram:hover{
   color: red;
}
.pragh{
    display:none;
     color: black ;
     font-size: 30px;
}
@media screen and (max-width: 600px){
.pragh {
        display: block;
    }
    .myimg img:nth-child(2){
      position: relative;
      bottom: 50px;
    }
    .top{
      position: relative;
      top: 30px;
      
    }
 
        .myimg p,span {
           font-weight: bold;
           font-size: x-large;
            color:black;
            margin-top: 10px;
        }
   
}
.foterall{
display: flex;
margin-top: 80px;
    justify-content: space-between;
    height: 300px;
    width: 100%;
    background-image: url(img/footer-bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
  background-attachment: fixed;
  height: 400px;
}


.fot{
   
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
text-align: center;

}
.one{
display: flex;
/* margin-top: 80px; */
    justify-content: space-between;
    height: 300px;
    width: 100%;
    background-image: url(img/breadcrumbs-bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
  background-attachment: fixed;
  height: 400px;
}


.two{
   
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
text-align: center;

}
.fot h6,p,span,i{
   
position: relative;
/* bottom: 20px; */

/* margin-top: 20px; */

}
.myimg i{
position: relative;
    bottom: 20px;
}
.fot h6{
font-style: normal;
font-size: 20px;
font-weight: bold;
}
.fot  i{
font-size: 20px;

}
.fot .fa-linkedin:hover {
    color: blue;
}

.fot .fa-facebook:hover {
    color: blue;
}

.fot .fa-instagram:hover {
    color: red;
}
.fot .fa-youtube:hover {
    color: red;
}
.fot i{
    margin-left: 10px;
    color: #EEEEEE;
}
.fot ul li a{
    color: #B4B4B8;
}
.fot ul li a:hover{
    color: #fff;
}
.fot ul li a{
    color: #B4B4B8;
}
.fot ul li a:hover{
    color: #fff;
}
hr{
    color: #fff;
}

/* start serves bage css */
.serves-all{
display: grid;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    background-color: #B4B4B8;
}
.serves-all2{
    background-color: #B4B4B8;
    display: grid;
        grid-auto-rows: minmax(200px, auto);
        grid-gap: 10px;
}
.serv{
    background-color: #EEEEEE;
    box-shadow: 3px 2px 3px 2px #EEEEEE;
    /* margin-top: 30px; */
    margin: 30px;
   border-radius: 10px;
}
.serves{
    display: flex;
    justify-content: space-between;
}
.serv2{
display: flex;
    justify-content: space-between;
}
.serv{
    display: block;
  text-align: center;
}
.serv i{
    position: relative;
    right: 13px;
    top: 20px;
    color: #333;
}
.serv i:hover{
    color: orangered;
}
.serv h6{
    position: relative;
    right: 0px;
    font-size: 25px;
    color: #444;
}

.more{
display: flex;
}
.cta {
    border: none;
    background: none;
    cursor: pointer;
}

.cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
}

.cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active svg {
    transform: scale(0.9);
}

.hover-underline-animation {
    position: relative;
    color: #ff8c00;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFD43B;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.serves-all,.serves-all2{
    position: relative;
    bottom: 100px;
}
@media (max-width: 768px) {
.serves-all{
    display: grid;
        grid-auto-rows: minmax(200px, auto);
        grid-gap: 10px;
        text-align: center;
            align-items: center;
            position: relative;
                top: 200px;
}
.serves-all2{
        display: grid;
            grid-auto-rows: minmax(200px, auto);
            grid-gap: 10px;
            text-align: center;
            align-items: center;
            position: relative;
            top: 200px;
}
.cards p{
  position: relative;
  top: 10px;
}
.cards i
    {
display: none;
    }

.foterall{
    
display: grid;
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 10px;
    text-align: center;
    align-items: center;
    
}
.foterall .foter {
display: grid;
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 10px;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
}
.foterall .foter h6,span,p,i{
    margin-bottom:  90px;
}
.foterall img{
height: 400px;
width: 100px;
}
.serv2{
display: grid;
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 10px;
    text-align: center;
        align-items: center;
}
.serves{
display: grid;
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 10px;
    text-align: center;
        align-items: center;
}
.serv2 i,h6{
    position: relative;
    left: 10px;
}
.serves i,h6{
    position: relative;
    left: 10px;
}
}
/* start project bage */
          .project {
              position: relative;
              display: inline-block;
              
          }
    
          .project img {
              display: block;
              width: 300px;
              margin: 10px;
               
              height: auto;
          }
          .project:hover{
            z-index: 9999;
            background-color: rgba(0, 0, 0, 0.3);
          }
        .project img:hover{
         
            transition: 0.5s ease-in-out;
            transform: scale(1.1,1.1);
            
            border-radius: 15px;
        }
          .project p {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              opacity: 0;
              transition: opacity 0.3s;
color: #fff;              
              padding: 20px;
              
          }
         
          .project i{
              position: absolute;
              top: 40%;
              left: 20%;
              transform: translate(-50%, -50%);
              opacity: 0;
              transition: opacity 0.3s;
             font-size: 20px;
              color: black;
              padding: 10px;
          }
          .project button{
              position: absolute;
              bottom:  65%;
            width: 120px;
          
              height: 30px;
            background-color: #ff8c00;
              left: 40%;
              transform: translate(-50%, -50%);
              opacity: 0;
              transition: opacity 0.3s;
           border: 1px solid #fff;
              color: black;
              padding: 10px;
          }
    
          .project:hover p {
              opacity: 1;
          }
          .project:hover button {
              opacity: 1;
          }
          .project:hover i {
              opacity: 1;
          }
          .ulp{
        
                list-style-type: none;
                padding: 0;
                text-align: center;
            }
        
            li {
                margin: 10px;
                display:inline-block;;
font-size: 20px;
          }
          .ulp li:hover{
            color: #ff8c00;
          }
.active2{
    color: #ff8c00;
}
/* end bage prject */


/* strat bage blogs */
                .all-card {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;
                    margin-left:  35px;
                }
        
                .card {
                    width: 300px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    overflow: hidden;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    margin-bottom: 20px;
                }
        .card i{
            font-size: 20px;
        }
                .card img {
                    width: 100%;
                    height: auto;
                }
        
                .card-content {
                    padding: 20px;
                }
        
                .card-content h6 {
                    font-size: 1.2em;
                    margin-top: 0;
                }
        
                .card-content p {
                    color: #666;
                }
        
                @media (max-width: 768px) {
                    .card {
                        width: 100%;
                    }
                }

/* end bage blogs */

/* start bage connect */
.upp{
    display: grid;
        grid-auto-rows: minmax(200px, auto);
        grid-gap: 10px;
}
.side1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.side2{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.conect4{
 
    width: 400px;
    height: 400px;
}
.conect4 img{
    width: 400px;
    height: 300px;
}
.conect5{
    background-color: #666;
    width: 400px;
    height: 400px;
}

.under{
    display: grid;
        grid-auto-rows: minmax(200px, auto);
        grid-gap: 10px;
}

.conect1{
  padding: 0;
background-color: #fff;
width: 500px;
text-align: center;
box-shadow: 4px 4px 4px 4px #EEEEEE;
}
.conect2{
background-color: #fff;
    width: 300px;
    text-align: center;
        box-shadow: 4px 4px 4px 4px #EEEEEE;
}
.conect3{
background-color: #fff;
    width: 300px;
    text-align: center;
    box-shadow: 4px 4px 4px 4px #EEEEEE;
}
@media (max-width: 768px) {
    .conect1 h6,i{
        position: absolute;
        right:  180px;
    }
    .conect1 p{
       display: none;
      
    }

.side1 {
    display: grid;
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 10px;
}

.side2 {
    display: grid;
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 10px;
}
  
        
    }
 body {
     font-family: Arial, sans-serif;
     background-color: #f4f4f4;
     margin: 0;
     padding: 0;
 }

 .container {
     max-width: 500px;
     margin: 50px auto;
     padding: 20px;
     background-color: #fff;
     border-radius: 5px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }

 input[type="text"],
 input[type="email"],
 textarea {
     width: 100%;
     padding: 10px;
     margin: 5px 0;
     border: 1px solid #ccc;
     border-radius: 5px;
     box-sizing: border-box;
 }

 input[type="submit"] {
     background-color: #007bff;
     color: #fff;
     border: none;
     padding: 10px 20px;
     border-radius: 5px;
     cursor: pointer;
 }

 input[type="submit"]:hover {
     background-color: #0056b3;
 }
 a{
    text-decoration: none;
 }
 a:hover {
     color: orangered;
     text-decoration: line-through;
 }

 a {
     color: #fff;
     text-decoration: none;

     font-size: 1.5rem;
     font-family: sans-serif;
     font-weight: bold;
 }