body{
    margin: 0;
    color: #fff;
    padding: 0;
    box-sizing: border-box;

display: grid;

grid-template-columns: minmax(200px,auto);
}
.mysec{
box-sizing: border-box;
    background-image: url(home/hero-carousel-1.jpg);
    z-index: -1;
height: 100%;
width: 100%;
    background-attachment: fixed;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    ;
   
}
/* .two{
    display: block;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        text-align: center;
       
} */
li{
     list-style: none;
}
a:hover{
    color: orangered;
    text-decoration: line-through;
}
a{
    color: #fff;
    text-decoration: none;

    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: bold;
}
ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 20px;

}

.btn{
    padding: 15px;
    border: 2px solid orange;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: #fff;

}
.btn:hover{
background-color: orange;
}
.h1tag{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;

}
.ptag{

font-family: sans-serif;
letter-spacing: 1px;
word-spacing: 3px;

}
.contant{


background-color: rgba(0, 0, 0, 0.6);
}
@media (max-width: 768px) {
ul{
    display: block;
 
}
li{
    margin-top: 10px;
}

.h1tag {

}

.ptag {

}
.mysec{
   
display: grid;

grid-template-columns: minmax(200px,auto);
}
}
.hash{
    display: flex;
    justify-content: center;
    align-items: center;
}
